html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  background-color: rgba(0,0,0,0.04);
  font-size: 0.8em;
  line-height: 1.5;
  padding: 1px 3px;
}
