html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}
p, h6 {
  margin: 0;
}
h5 {
  margin: 0.2em 0;
}
h4 {
  margin: 0.4em 0;
}
h3 {
  margin: 0.6em 0;
}
h2 {
  margin: 0.8em 0;
}
h1 {
  margin: 1em 0;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  background-color: rgba(0,0,0,0.04);
  font-size: 0.8em;
  line-height: 1.5;
  padding: 1px 3px;
}
